/* global styles */
.signupForm{
  margin: 0 auto;
  margin-bottom: 2rem;
}

.signup-button-container {
  text-align: center;
}

/* tablet & mobile styles */
@media only screen and (max-width: 700px) {
  .signup-form {
    width: 100%;
  }

  .signup-button {
    margin-right: .5rem;
    margin-left: .5rem;
  }
}

/* desktop stlyes */
@media only screen and (min-width: 700px) {
  .signup-form {
    width: 35%;
  }

  .signup-button {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
